models/*/* filter=lfs diff=lfs merge=lfs -text
models/recognition_0.3.3/recognition_0.3.3.d filter=lfs diff=lfs merge=lfs -text
models/recognition_0.3.3/recog_cdnn_caffe.cfg filter=lfs diff=lfs merge=lfs -text
models/recognition_0.3.3/recognition_0.3.3.d$ filter=lfs diff=lfs merge=lfs -text
models/recognition_0.3.3/recognition_0.3.3.t filter=lfs diff=lfs merge=lfs -text
models/recognition_0.3.3/recognition_0.3.3.t$ filter=lfs diff=lfs merge=lfs -text
test/images/* filter=lfs diff=lfs merge=lfs -text
models_new/recognition_0.0.5/recog_cdnn_caffe.cfg filter=lfs diff=lfs merge=lfs -text
models_new/recognition_0.0.5/recognition_0.0.5.d filter=lfs diff=lfs merge=lfs -text
models_new/recognition_0.0.5/recognition_0.0.5.t filter=lfs diff=lfs merge=lfs -text
