test/images/* filter=lfs diff=lfs merge=lfs -text
data/ filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
data/dgface.json filter=lfs diff=lfs merge=lfs -text
data/encryptModel filter=lfs diff=lfs merge=lfs -text
data/model filter=lfs diff=lfs merge=lfs -text
data/model/alignment filter=lfs diff=lfs merge=lfs -text
data/model/detector filter=lfs diff=lfs merge=lfs -text
data/model/recognition filter=lfs diff=lfs merge=lfs -text
data/model/alignment/cdnn filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe filter=lfs diff=lfs merge=lfs -text
data/model/recognition/fusion filter=lfs diff=lfs merge=lfs -text
data/model/alignment/cdnn filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe filter=lfs diff=lfs merge=lfs -text
data/model/recognition/fusion filter=lfs diff=lfs merge=lfs -text
data/model/alignment/cdnn filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe filter=lfs diff=lfs merge=lfs -text
data/model/recognition/fusion filter=lfs diff=lfs merge=lfs -text
data/model/alignment/cdnn/0.4.2 filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.1.0 filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.4.5 filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/det_ssd.json filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/model.dat filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/0.config filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/1.a filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/1.b filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/2.a filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/2.b filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/3.a filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/3.b filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/4.a filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/4.b filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/5.a filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/5.b filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/6.a filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/6.b filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/7.a filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/7.b filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/8.c filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4 filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5 filter=lfs diff=lfs merge=lfs -text
data/model/recognition/fusion/recog_fuse.json filter=lfs diff=lfs merge=lfs -text
data/model/alignment/cdnn/0.4.2/alignment.cdnn filter=lfs diff=lfs merge=lfs -text
data/model/alignment/cdnn/0.4.2/alignment.mean filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.1.0/detector.d filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.1.0/detector.t filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.1.0/det_fcn.json filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.4.5/detector.d filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.4.5/detector.t filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.4.5/det_fcn.json filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4/recog_cdnn_caffe.cfg filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4/recognition.d filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4/recognition.t filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5/recog_cdnn_caffe.cfg filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5/recognition.d filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5/recognition.t filter=lfs diff=lfs merge=lfs -text
data/encryptModel/alignment/cdnn/0.4.2/alignment.cdnn filter=lfs diff=lfs merge=lfs -text
data/encryptModel/alignment/cdnn/0.4.2/alignment.mean filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/fcn/0.1.0/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/fcn/0.1.0/model.dat filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/fcn/0.4.5/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/fcn/0.4.5/model.dat filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/0.0.4/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/0.0.4/model.dat filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/0.0.5/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/0.0.5/model.dat filter=lfs diff=lfs merge=lfs -text
data/model/alignment/cdnn/0.4.2/alignment.cdnn filter=lfs diff=lfs merge=lfs -text
data/model/alignment/cdnn/0.4.2/alignment.mean filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.1.0/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.1.0/detector.d filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.1.0/detector.t filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.1.0/det_fcn.json filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.1.0/model.dat filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.4.5/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.4.5/detector.d filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.4.5/detector.t filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.4.5/det_fcn.json filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.4.5/model.dat filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4/model.dat filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4/recog_cdnn_caffe.cfg filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4/recognition.d filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4/recognition.t filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5/model.dat filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5/recog_cdnn_caffe.cfg filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5/recognition.d filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5/recognition.t filter=lfs diff=lfs merge=lfs -text
data/encryptModel/alignment/cdnn/0.4.2/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/fcn/0.1.0/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/fcn/0.4.5/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/0.0.4/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/0.0.5/ filter=lfs diff=lfs merge=lfs -text
data/model/alignment/cdnn/0.4.2/ filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.1.0/ filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/0.4.5/ filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4/ filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/alignment/cdnn/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/fcn/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/ssd/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/ filter=lfs diff=lfs merge=lfs -text
data/model/alignment/cdnn/ filter=lfs diff=lfs merge=lfs -text
data/model/detector/fcn/ filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/ filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/ filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/ filter=lfs diff=lfs merge=lfs -text
data/model/recognition/fusion/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/alignment/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/ filter=lfs diff=lfs merge=lfs -text
data/model/alignment/ filter=lfs diff=lfs merge=lfs -text
data/model/detector/ filter=lfs diff=lfs merge=lfs -text
data/model/recognition/ filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/1.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/1.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/2.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/2.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/3.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/3.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/4.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/4.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/5.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/5.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/6.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/6.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/7.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/7.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/8.c filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/0.0.4 filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/0.0.5 filter=lfs diff=lfs merge=lfs -text
data/encryptModel/alignment/cdnn/0.4.2 filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/fcn/0.1.0 filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/fcn/0.4.5 filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/ssd/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/ssd/model.dat filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/1.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/1.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/2.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/2.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/3.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/3.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/4.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/4.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/5.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/5.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/6.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/6.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/7.a filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/7.b filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/8.c filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/0.0.4 filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe/0.0.5 filter=lfs diff=lfs merge=lfs -text
data/encryptModel/alignment/cdnn filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/fcn filter=lfs diff=lfs merge=lfs -text
data/encryptModel/detector/ssd filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn_caffe filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/8.c filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.4/recognition.d filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.0.5/recognition.d filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/8.c filter=lfs diff=lfs merge=lfs -text
doc/git-lfs-1.4.1/git-lfs filter=lfs diff=lfs merge=lfs -text
data/encryptModel/recognition/cdnn/8.c filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn/8.c filter=lfs diff=lfs merge=lfs -text
test/surv_images/0.jpg filter=lfs diff=lfs merge=lfs -text
test/surv_images/1.jpg filter=lfs diff=lfs merge=lfs -text
test/surv_images/2.jpg filter=lfs diff=lfs merge=lfs -text
test/surv_images/3.jpg filter=lfs diff=lfs merge=lfs -text
test/surv_images/4.jpg filter=lfs diff=lfs merge=lfs -text
test/surv_images/5.jpg filter=lfs diff=lfs merge=lfs -text
test/surv_images/6.jpg filter=lfs diff=lfs merge=lfs -text
test/surv_images/7.jpg filter=lfs diff=lfs merge=lfs -text
test/surv_images/8.jpg filter=lfs diff=lfs merge=lfs -text
test/surv_images/9.jpg filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/0.0.3/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/0.0.3/det_ssd.json filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/0.0.3/model.dat filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/0.0.4/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/0.0.4/det_ssd.json filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/0.0.4/model.dat filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/0.0.3 filter=lfs diff=lfs merge=lfs -text
data/model/detector/ssd/0.0.4 filter=lfs diff=lfs merge=lfs -text
data/encryptModel/alignment/cdnn/0.4.2/alignment.cdnn filter=lfs diff=lfs merge=lfs -text
data/encryptModel/alignment/cdnn/0.4.2/alignment.mean filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.1.0/ filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.1.0/deploy.txt filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.1.0/model.dat filter=lfs diff=lfs merge=lfs -text
data/model/recognition/cdnn_caffe/0.1.0/recog_cdnn_caffe.cfg filter=lfs diff=lfs merge=lfs -text
data/model/recognition/gpu_fusion/recog_gpu_fuse.json filter=lfs diff=lfs merge=lfs -text
