lib/*
include/matrix_util/*
include/matrix_engine/*
include/
build/
.idea/workspace.xml
utils/dist/
bin/
Debug/
Release/
.settings/
.DS_Store
dgcaffe/.build_release/
dgcaffe/build
apps/dist/
.idea/
engine/.idea
apps/.idea
apps/tools/log
engine/lib
apps/lib
engine/.cproject
apps/.cproject
util/.cproject
engine/.project
apps/.project
.idea/Matrix.iml
tools/*.json
lib/matrix_engine
lib/matrix_util
