build/
tools/face_db_creator/feature/
tools/face_db_creator/log/
lib/matrix_engine/Linux-x86_64/libmatrix.a
lib/matrix_engine/Linux-x86_64/libmatrix_cuda.a
.idea/workspace.xml
utils/dist/
bin/
Debug/
Release/
.settings/
.DS_Store
dgcaffe/.build_release/
dgcaffe/build
apps/dist/
.idea/
engine/.idea
apps/.idea
apps/tools/log
engine/lib
apps/lib
engine/.cproject
apps/.cproject
util/.cproject
engine/.project
apps/.project
.idea/Matrix.iml
tools/*.json
