0/0.config filter=lfs diff=lfs merge=lfs -text
0/1100.dat filter=lfs diff=lfs merge=lfs -text
0/1100.txt filter=lfs diff=lfs merge=lfs -text
0/1101.dat filter=lfs diff=lfs merge=lfs -text
0/1101.txt filter=lfs diff=lfs merge=lfs -text
0/1.a filter=lfs diff=lfs merge=lfs -text
0/1.b filter=lfs diff=lfs merge=lfs -text
0/2.a filter=lfs diff=lfs merge=lfs -text
0/2.b filter=lfs diff=lfs merge=lfs -text
0/3.a filter=lfs diff=lfs merge=lfs -text
0/3.b filter=lfs diff=lfs merge=lfs -text
0/401.dat filter=lfs diff=lfs merge=lfs -text
0/401.txt filter=lfs diff=lfs merge=lfs -text
0/4.a filter=lfs diff=lfs merge=lfs -text
0/4.b filter=lfs diff=lfs merge=lfs -text
0/5.a filter=lfs diff=lfs merge=lfs -text
0/5.b filter=lfs diff=lfs merge=lfs -text
0/6.a filter=lfs diff=lfs merge=lfs -text
0/6.b filter=lfs diff=lfs merge=lfs -text
0/7.a filter=lfs diff=lfs merge=lfs -text
0/7.b filter=lfs diff=lfs merge=lfs -text
0/8.c filter=lfs diff=lfs merge=lfs -text
0/alignment.cdnn filter=lfs diff=lfs merge=lfs -text
0/alignment.mean filter=lfs diff=lfs merge=lfs -text
0/lcnn.caffemodel filter=lfs diff=lfs merge=lfs -text
0/lcnn.prototxt filter=lfs diff=lfs merge=lfs -text
0/test_ssd_original.prototxt filter=lfs diff=lfs merge=lfs -text
0/VGG_ssd_original_iter_90000.caffemodel filter=lfs diff=lfs merge=lfs -text
../data/data.dat filter=lfs diff=lfs merge=lfs -text
